<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Paste the url below</p>
    <form id="submitForm">
      <input id="url" type="text" placeholder="Enter the url">
      <input type="submit" value="Go">
    </form>
    <div id="error"></div>
    <div id="success"></div>
    <script src="javascripts/jquery-2.1.3.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>